table {
  border-collapse: collapse;
  margin: 50px auto;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  font-size: 25px;

}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}

